.body {
  font-family: "Poppins", sans-serif;
  background-color: #0b363f;
}

.container {
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 8px;
}

.title {
  color: #0070f3;
  font-size: 24px;
}

.header {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -20px;
}

.headerContent {
  z-index: 3;
  text-align: center;
}

.headerTXT h1 {
  font-size: 45px;
  line-height: 60px;
  color: #434b4d;
  font-weight: 500;
  margin-bottom: 35px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.inputGroup label {
  color: #007ba7;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.inputGroup .inputField {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #cbd5e0;
  font-size: 1rem;
}

.inputGroup .inputField:focus {
  outline: none;
  border-color: #3182ce;
}

.inputGroup .inputField::placeholder {
  color: #a0aec0;
}

.containerK {
  color: #354f52;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  font-size: 18px;
}

.containerResultado {
  color: #fa5f49;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  font-size: 20px;
}

.containerGrafica {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 16px;
}

.containerGrafica canvas,
.containerGrafica svg {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .containerGrafica {
    padding: 8px;
  }

  .containerGrafica canvas,
  .containerGrafica svg {
    max-width: 100%;
  }
}